<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.testask.yandex.translator.yandextranslator">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/yandex_translate"
        android:label="@string/app_name"
        android:roundIcon="@drawable/yandex_translate"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:noHistory="true"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PopUpLanguages"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.PopUp">
        </activity>
        <activity android:name=".Loading"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Loading">
        </activity>
    </application>

</manifest>